.frame{
	margin:10px auto 20px auto;
	background-color:rgba(1,8,15,0.67);
	padding:0px 10px 20px 10px;
	font-size:18px;
}

img{
	display:inline-block;
}

@media(min-width:992px){
	.tag{
		width:33.33%!important;
	}
	.picOption{
		margin-top:2.7%;
	}
	.vertical-divider{
		margin-left:25%!important;
	}
	form{
		margin-top:7%!important;
	}
}

@media(max-width:991px){
	.vertical-divider{
		margin-left:50%!important;
		margin-top:5px!important;
		margin-right:0px;
	}
}

@media(min-width:900px){
	.frame{
		width:850px;
		padding:0px 50px 20px 50px;
		font-size:19px;
	}
	.grade{
	width:21.4%;
	}
	.fetch h1{
		font-size:65px!important;
	}
}


@media(max-width:899px){
	select{
		padding:0px!important;
	}
	input[type="checkbox"]{
		display:inline-block;
	}
	.college{
		width:28%;
	}
	.grade{
		width:23.2%;
	}
}


@media(max-width:500px){
	.frame{
		padding:0px 0px 10px 0px;
		margin:10px 5px 20px 5px;
		font-size:16px;
	}

	.tag{
		float:none;
		display:block!important;
	}
	.formTag{
		margin:2% 0px 4% 0px!important;
		display:block;
		text-align:center;
	}
	input{
		display:block;
		margin:0px auto;
		margin-bottom:5%;
	}
	input[type="radio"]{
		display: inline-block;
		margin-left:0px!important;
	}

	input[value="å¥³"]{
		margin-left:30%!important;
	}
	.formSpan{
		margin:0px auto;
		display:block;
	}
	.phoneLong,.phoneShort{
		display:inline-block;
	}
	.phoneLong{
		width:50%!important;
	}
	.phoneShort{
		width:30%!important;
	}
	.college{
		width:50%;
		margin-left:10%;
	}
	.phoneLong{
		margin-left:7%;
	}
	select{
		margin-bottom:5%;
	}
	.btnGroup{
		display:block;
		margin-left:20%;
	}
	input[type="checkbox"]{
		margin-left:25%!important;
		margin-bottom:8%;
	}
	.sexSpan span:first-child{
		float:left;
		margin-left:20%;
	}
	.sexSpan>span:last-child{
		width:60px;
		float:right;
		margin-right:20%;
	}
	.sexSpan>span:last-child>span{
		display:inline-block;
	}
	.groupNum{
		margin-left:40%;
		width:20%!important;
	}
	.treaty .btn-success{
		margin-left:10%!important;
	}
	.treaty .btn-danger{
		margin-right:10%!important;
	}

}

@media(min-width:501px){
	.formTag{
		display:inline-block;
	}
}

@media(max-width:685px) and (min-width:501px){
	.btnGroup{
		display:block;
		margin-left:30%;
	}
	input[type="checkbox"]{
		margin-left:35%!important;
		margin-bottom:8%;
	}
}


.container{
	float:none;
}


.title{
	text-align:center;
}

h2{
	font-family:helvetica;
	color:#fff;
	font-weight:100;
	margin-top:0px;
}



body{
	background-image:url("../pic/background.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
	background-size:cover;
	padding-top:15px;
}


input{
	text-align:center;
}


.tag{
	margin-top:30px;
	color:#fff;
	text-align:center;
	margin: 4% auto 0 auto!important;
	width:100%;
}

.vertical-divider{
	display:inline-block;
	height:55px;
	width:1px;
	border-right:1px solid #fff;
	margin:0 auto 0 auto;
}

.pic{
	position:absolute;
	width:50px;
	height:50px;
	margin-top:1%;
	z-index:10;
	display:inline-block;
}

/*
.type{
	font-family:helvetica;
	display:inline-block;
	margin-top:-43px;
	margin-left:54%;
	color:#4dffba;
}
*/

form{
	width:100%;
	margin:-20px auto 20px auto;
	padding-top:20px;
	color:#fff;
}

.formTag{
	color:#fff;
	margin:0px 20px 20px 15%;
}


.formTagLong{
	margin-left:9.9%;
}

.input-text{
	width:56%;
	font-size:17px;
	border:1px solid #bbb;
	color:#000;
}

.horizontal-divider{
	margin-top:20px;
	margin-bottom:0px;
	border-top:2px dashed #fff;
}

.input-sex{
	margin-left:13% !important;
}

select{
	font-size:17px;
	height:30px;
	border:1px solid #bbb;
	text-align:center;
	color:#000;
}

option{
	color:#000;
}

.head{
	margin-top:8%;
	float:right;
	width:150px;
	font-size:16px;
	color:#999;
}

.head>div{
	width:90px;
	height:90px;
	border-radius:45px;
	border:1px solid #777;
	float:right;
	margin-top:8%;
	margin-right:38%;
}

.head>div div{
	background-color:#777;
	width:82px;
	height:82px;
	border-radius:41px;
	margin-left:3px;
	margin-top:3px;
}

.head>div span{
	color:#bbb;
	font-size:43px;
	margin-left:20px;
	margin-top:17px;
}

.head>p{
	float:left;
	margin-top:10px;
	margin-left:-25%;
}

.member{
	width:250px;
	height:35px;
	padding-top:4px;
	margin:0px auto 0px auto;
	background-color:rgba(100,100,100,0.5);
	text-align:center;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	font-weight:bold;
}

.groupNum{
	width:11%;
	margin-top:20px;
}

.error:focus{
	border-color:rgb(241,15,33);
	border-width:3px;
	border-style:dashed;
	/*
	box-shadow: 0px 0px 5px rgb(17,195,126);
	-webkit-box-shadow: 0px 0px 5px rgb(17,195,126);
	-moz-box-shadow: 0px 0px 5px rgb(17,195,126);
	*/
}

.phoneLong{
	width:33%;
}

.phoneShort{
	width:18.3%;
}

.college{
	padding:0px 22px;
}


.typeTips{
	font-weight:100;
	font-size:15px;
	color:#aaa;
}

#showTreaty{
	font-size:17px;
	color:#fff;
	text-decoration:underline;
}

#agreeTreaty{
	margin-left:20%;
}


.treaty{
	overflow:auto;
	padding:20px 10%;
	padding-bottom:10%;
	position:absolute;
	top:0px;
	z-index:100;
	height:100%;
	width:100%;
	background-color:rgba(0,0,0,0.95);
	display:none;
	color:#efefef;
	font-size:17px;
}

.treaty h3{
	font-weight:bold;
	margin-left:45%;
}

.treaty a{
	display:inline-block;
	float:right;
	padding:2px 10px;
	margin-right:-5%;
	font-size:20px;
	margin-top:-50px;
	border-radius:20px;
	border:1px solid #fff;
	color:#fff;
	font-family:Arial;
	text-decoration:none;
}

.fetch{
	width:100%;
	text-align:center;
	color:#fff;
	font-family:helvetica;
	padding:10%;
}