body{
	background-image:url("../pic/background.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
	background-size:cover;
	padding-top:15px;
	color:#fff;
	overflow:hidden;
}

.frame{
	margin:10px auto 20px auto;
	background-color:rgba(1,8,15,0.67);
	padding:10px 10px 20px 10px;
	font-size:18px;
	width:850px;
}

@media((min-width:645px) and (max-width:850px)){
	.frame{
		width:90%;
	}

}

.frame form{
	padding:0px 5%;
}

.title{
	color:#fff;
	text-align:center;
}

.horizontal-stacks{
	vertical-align:top;
}

.horizontal-stacks>span{
	display:inline-block;
}


.tag{
	color:#fff;
	margin:0 4% 0 7%;
	position:relative;
	word-wrap:normal;
	top:-25px;
}

.tag .typeTips{
	font-size:15px;
	color:#4dffba;
	position:relative;
	left:-25px;
}

.picOption-wrap{
	width:350px;
	height:85px;
	margin-top:10px;
}

canvas{
	position:absolute;
	z-index:1;
}


.picOption{
	position:absolute;
	display:inline-block;
	z-index:10;
	color:#999;
}

.picOption img{
	width:45px;
	height:45px;
	z-index:10;
	position:relative;
	left:5px;
}

.picOption p{
	text-align:center;
	margin:10px 0px 0px 0px;
	padding: 2px 5px;
	position: relative;
	left: -6px;
}

.picOption>span{
	padding:5px 50px 5px 50px;
}

.picOption>.active p{
	color:#fff;
	background-color:rgba(77,255,186,0.5);
}

.picOption>span:nth-of-type(1){
	border-right:1px solid #fff;
}

.formTag{
	color:#fff;
	text-align:right;
	font-size:18px;
}

.num-select{
	padding:20px;
	border-top:2px dashed #fff;
}

.num-select>span.formTag{
	margin-left:40%;
}

.member-info .formTag{
	width:20%;
}


input[type="text"],select{
	width:100%;
	text-align:center;
}

input,select{
	font-size:16px;
}

.input-min{
	width:10%!important;
}

.input-lg{
	width:50%!important;
}

.input-md{
	width:60%!important;
}

.input-sm{
	width:30%!important;
}

.input-sub{
	float:right;
}

.member-info{
	padding-left:10%;
}

.member-info>.horizontal-stacks>span:nth-of-type(2){
	float:right;
	position:relative;
	top:-5px;
}

.member-info>.horizontal-stacks{
	margin:30px;
}

.memberTag{
	padding:7px 10px;
	width:220px;
	background-color:rgba(150,150,150,0.5);
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	text-align:center;
	margin:0px auto;
	font-size:20px;
	font-weight:bold;
}

.sexSpan{
	margin:0px 30%;
}

.member-info:not(:first-child){
	border-top:2px dashed #fff;
}

.btn-success{
	background-color:#5cb85c;
}

.btn-success:hover{
	background-color:#44a644;
}

.btn-primary{
	background-color:#428bca;
}

.btn-primary:hover{
	background-color:#337bb9;
}

.btn-warning{
	background-color:#f0ad4e;
}

.btn-warning:hover{
	background-color:#e39a33;
}

.btn-danger{
	background-color:#d9534f;
}

.btn-danger:hover{
	background-color:#cd3833;
}

.btn{
	padding:8px 10px;
	font-size:13px;
	border-radius:3px;
	border:none;
	color:#fff;
}

.btn-lg{
	padding:10px 16px;
	font-size:20px;
	border-radius:5px;
}

.treaty,.progress{
	background-color:rgba(0,0,0,0.9);
	position:fixed;
	z-index:100;
	top:0px;
	left:0px;
	height:100%;
	word-wrap:break-word;
	line-height:26px;
	font-size:17px;
	-webkit-text-size-adjust:none;
	overflow:scroll;
	padding:30px 13% 80px 13%;
}

.treaty h3{
	text-align:center;
	font-size:25px;
}

.treaty a{
	color:#fff;
	text-decoration:none;
	font-size:20px;
	border:1px solid #fff;
	border-radius:15px;
	float:right;
	margin-top:-50px;
	margin-right:18px;
	width:30px;
	height:30px;
	text-align:center;
	line-height:30px;
}

.btn-group{
	text-align:center;
	margin-bottom:20%;
}

#showTreaty{
	text-decoration:underline;
	cursor:hand;
}

.error-tips{
	width:25%;
	float:right;
	color:#d9534f;
	font-size:14px;
	padding-top:10px;
}

.progress h3{
	color:rgb(100,255,186);
	text-align:center;
	margin-top:25%;
	font-weight:bold;
	font-size:30px;
}

.progress .progress-outer{
	width:80%;
	margin-left:10%;
	height:1px;
	background-color:#333;
}

.progress .progress-inner{
	width:1px;
	height:1px;
	background-color:rgb(100,255,186);
}

.fetch{
	text-align:center;
	font-family:helvetica;
	padding:8% 0px;
}

.fetch h1{
	font-size:3em;
}

.fetch h3{
	font-size:1.5em;
	word-wrap:break-word;
}

.error:focus{
	
	border-color:#d9534f;
	border-width:3px;
	border-style:dashed;
}

#jsError{
	background-color:rgba(0,0,0,0.95);
	position:fixed;
	z-index:101;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	word-wrap:break-word;
	line-height:26px;
	font-size:17px;
	text-align:center;
	font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;
	font-weight:lighter;
}

#jsError .error-wrap{
	display:inline-block;
	margin:30px auto;
}

#jsError h1{
	font-size:60px;
	font-family:helvetica;
	font-weight:lighter;
	margin-bottom:50px
}

#jsError hr{
	margin-bottom: 20px;
	margin-top: 50px;
	border-color: #888;
}

#jsError a{
	color:#fff
}
