body{
	background-image:url("pic/background-blur.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
	background-size:cover;
	padding-top:50px;
	color:#fff;
	text-align:center;
}

h1{
	font-size:3em;
	margin-top:15px;
}

hr{
	width:60%;
	margin:30px auto 30px auto;
	border-bottom:1px solid #999;
}


p{
	font-size:1.5em;
}

.tips{
	font-size:1.1em;
}

.tips a{
	color:#fff;
}

.logo{
	width:100px;
	height:100px;
}

.error-tips{
	width:25%;
	color:#d9534f;
	font-size:14px;
	padding-top:10px;
}

.error:focus{
	border-color:#d9534f;
	border-width:3px;
	border-style:dashed;
}

table{
	width: 55%;
	margin: 30px auto 50px auto;
}


.btn{
	padding: 10px 20px;
	margin: 30px 0px 50px 0px;
	border: none;
	background-color: #6586F0;
	border-radius: 3px;
	color: #fff;
	font-size: 20px;
	cursor:hand;
}


.btn-primary{
	background-color:#428bca;
}

.btn-primary:hover{
	background-color:#337bb9;
}

form{
	width:38%;
	margin:0px auto;
	text-align:center;
}

input{
	width:30%;
}